{% extends "base.html" %}
{% block title %}{{titulo}}{% endblock %}
{% block content %}
    <div class="p-4">
        <h1>{{titulo}}</h1>
        <h2 style="color: #bb1818;"><strong>{{ error }}</strong></h2>
        <div>
            <p class="justify">En el contexto de la ingeniería informática, crear, leer, actualizar y eliminar (CRUD) son las cuatro
             funciones básicas del almacenamiento persistente. A veces se utilizan palabras alternativas al definir
             las cuatro funciones básicas de CRUD , como recuperar en lugar de leer , modificar en lugar de actualizar
             o destruir en lugar de eliminar . CRUD también se utiliza a veces para describir las convenciones de la interfaz
              de usuario que facilitan la visualización, la búsqueda y el cambio de información., a menudo utilizando formularios
               e informes basados ​​en computadora . El término probablemente fue popularizado por primera vez por James Martin en
                su libro de 1983 Managing the Data -base Environment. El acrónimo puede extenderse a CRUDL para cubrir la
                 lista de grandes conjuntos de datos que aportan complejidad adicional, como la paginación, cuando los conjuntos de
                 datos son demasiado grandes para guardarlos fácilmente en la memoria.</p>

            <form action={{action}} class="mt-2 mt-md-0" method="POST">{% csrf_token %}
                {{ form.as_p }}
                {% if search == "search"%}
                    <input type="hidden" name="tituloBuscar" value={{tituloBuscar}}>
                    <input type="hidden" name="autorBuscar" value={{autorBuscar}}>
                {% endif %}

                {% if find == "find"%}
                    <input type="hidden" name="libroBuscar" value={{libroBuscar}}>
                    <input type="hidden" name="usuarioBuscar" value={{usuarioBuscar}}>
                {% endif %}

                <input type="submit" value="Go!" class="btn btn-outline-success mt-2">
            </form>
        </div>
    </div>
{% endblock %}
